
# scala
*.class
*.log
.bloop/
.bsp/
.metals/
.scala-build/
target/
out/

# js
node_modules/

# other
.env
.vscode/
.idea/

# project specific
nodejs-helpers/bundle.min.mjs

.flatmark-cache
_site/

# just for testing..
site1/
